@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans';
}
.container{
    height: 100vh;
    width: 100%;
    background-image: url('media/couple2.jpg');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.navbar{
    width: 88%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
}
.logo{
    width: 140px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}
.content{
    width: 100%;
    position: absolute;
    top: 10%;
}
.left-col{
    margin-left: 6%;
}
.left-col h1{
    font-size: 40px;
    color: #fff;
    line-height: 45px;
    float: left;
    font-family: sans-serif;
    margin-top: -20px;
}
.right-col{
    float: right;
    margin-right: 10%;
    margin-top: 50px;
    display: flex;
    align-items: center;
}
.right-col p{
    font-size: 18px;
    color: #5f5f5f;
    font-family: sans-serif;
    font-weight: 400;
    margin-right: 15px;
}
#icon{
    width: 80px;
    cursor: pointer;
}


